body {
    height: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/* ! ************************** home-loading ******************************* */

.home-loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/loading.gif) center no-repeat #fff;
}


/* ! *************************** header *********************************** */

.header-left {
    /* ! 溢出隐藏 */
    overflow: hidden;
    width: 40%;
    float: left;
    background-color: #45aaf2;
    position: absolute;
    height: 100%;
}

.header-right {
    background: url(../img/header_right_background.jpg);
    width: 60%;
    height: 100%;
    float: right;
    background-size: cover;
    background-position: 22%;
    background-color: #030303;
    background-repeat: no-repeat;
}

.header-text {
    color: #ffffff;
    margin-top: 20%;
    padding-right: 4%;
    text-align: right;
}

.header-welcome {
    font-family: 'Lucida Handwriting', Cursive;
    font-size: 1.98em;
}

.header-title {
    font-family: 'Papyrus', Fantasy;
    font-weight: 900;
    color: rgb(197, 197, 197);
}

.header-author {
    font-size: 1.75em;
    letter-spacing: 7px;
    word-spacing: 6px;
}


/* ! ***************************** navigation ****************************** */

#navigation {
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 9999;
    background-color: #000;
}

@media screen and (max-width: 768px) {
    #navigation {
        padding: 25px 0;
    }
}

.nav-logo {
    font-size: 2em;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-logo a:hover {
    color: tomato;
}

@media screen and (max-width: 768px) {
    .nav-logo {
        margin-bottom: 0;
    }
}

.nav-logo a>span {
    color: tomato;
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.nav-menu {
    float: right;
    font-size: 2em;
    color: #fff;
}

.dropdown-menu {
    min-width: 240px;
    right: 0;
    left: auto;
    border: 1px solid #6B6D6E;
    box-shadow: none;
    border-radius: 0px;
    margin-top: 0px;
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 1em 2em;
    margin-top: 5%;
}

.dropdown-menu ul li {
    padding: 0.6em 0em 0.6em 0em;
    font-size: 1.3em;
    position: relative;
}

.dropdown-menu ul li a i {
    position: absolute;
    right: 0;
    top: 20%;
    font-size: 25px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 7px solid #fff;
    float: right;
    margin-top: -5%;
    margin-right: 23px;
}


/* ! **************************** inforamtion ************************** */

#information {
    width: 100%;
    border: none;
    overflow: hidden;
    background-color: #030303;
    color: #fff;
}

.info-bottom {
    padding-top: 1em;
    text-align: center;
}

.info-bottom a {
    color: #45aaf2;
}

.info-bottom-mid {
    background-color: #45aaf2;
}


/* ! **************************** footer ******************************* */

footer {
    overflow: hidden;
    width: 100%;
    background: #3a3a3a;
    color: #fff;
    /* padding-top: 1em; */
}

footer a {
    color: rgb(100, 100, 100);
}

footer a:hover {
    text-decoration: none;
    color: #45aaf2;
}

.copyright {
    margin: 0;
    padding: 10px 0px;
    float: left;
}

.designed {
    margin: 0;
    padding: 10px 0px;
    float: right;
}

.designed a:hover {
    color: #45aaf2;
}